{% load social_widgets %}

<footer class="bg-light text-dark text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Контакти</h5>

        <p>{% social_widget_render 'facebook/likebox.html' href='https://www.facebook.com/StingerTattooBG' %}</p>
        <p>{% social_widget_render "instagram/badge.html" size=32 username="stingertattoobg" %}</p>
        <p>Мобилен: +359 892 999 092</p>
        <p>Адрес: България, Варна, ул. Цар Асен № 52</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Адрес</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.88684313955!2d27.91802591548341!3d43.21186267913889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a455d1014a7d9d%3A0x51f37738b0d3389!2sStinger%20Tattoo!5e0!3m2!1sen!2sbg!4v1615303306723!5m2!1sen!2sbg" width="auto" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Страници</h5>

        <ul class="list-unstyled">
          <br />
          <li>
            <a href="{% url 'home-page' %}" class="text-dark">Начало</a>
          </li><br />
          <li>
            <a href="{% url 'portfolio' %}" class="text-dark">Галерия</a>
          </li><br />
          <li>
            <a href="{% url 'list_blog' %}" class="text-dark">Блог</a>
          </li><br />
          <li>
            <a href="{% url 'faq-page' %}" class="text-dark">Често задавани въпроси</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:Stinger Tattoo Varna
    <a class="text-white" href="https://www.facebook.com/evgeni.petrov.90/">Изработен от Евгени Петров</a>
  </div>
  <!-- Copyright -->
</footer>



{% comment %} <footer class="bg-light text-center text-lg-start">
    <div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.2);">
      <div class="row">
        <div class="col-4">
          <h5>Stinger Tattoo Varna</h5>
            <a 
              class="btn btn-primary btn-floating m-1"
              style="background-color: #3b5998;"
              href="https://www.facebook.com/StingerTattooBG"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <p>instagram</p>
        </div>
        <div class="col-4">
          <h5>Връзки</h5>
          <ul>
            <li>
              <a href="{% url 'home-page' %}">Начало</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:Stinger Tatto Varna
    <a class="text-dark" href="https://www.facebook.com/EMevgenipetrov">Developer Evgeni Petrov</a>
  </div>
  <!-- Copyright -->
</footer> {% endcomment %}