{% extends 'stinger/base.html' %}
{% load static %}
{% load social_widgets %}
{% block headers %}
<title>Стингер Татоо Варна</title>
{% endblock headers %}
{% block content %}
<br>
<div class="container" style="color: white">
   
    <div class="card text-center">
        <img src={{ home_context.main_image.url }} class="img-fluid" alt="{{ home_context.main_image_alt }}">
        <div class="card-img-overlay">
            <div class="card-title">
                <h1>{{ home_context.header_1 }}</h1>
            </div>
        </div>
    </div>
    <br>
    <h2 align="center">За нас</h2>
    <br>
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-md-6">
            <img src={{ home_context.stinger_logo.url }} class="img-fluid" alt="Stinger Tattoo Logo">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6">
            <p>{{ home_context.stinger_about }}</p>
        </div>
    </div>
    <br>
    <h2 align="center">Актуално предложение</h2>
    <br>
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-md-6">
            <p>{{ home_context.stinger_special_offer }}</p>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6">
            <img src={{ home_context.stinger_special_offer_image.url }} class="img-fluid" alt="Stinger Tattoo Logo">
        </div>
    </div>
    <br>

</div>

{% endblock content %}
    
