{% extends 'stinger/base.html' %}
{% load static %}
{% load social_widgets %}

{% block content %}
<br>
<div class="container" style="color: white">
   
    <div class="card text-center">
        <img src={{ home_context.main_image.url }} class="img-fluid" alt="{{ home_context.main_image_alt }}">
        <div class="card-img-overlay">
            <div class="card-title">
                <h1>{{ home_context.header_1 }}</h1>
            </div>
        </div>
    </div>
    <br>
    <h2 align="center">За нас</h2>
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-md-6">
            <img src={{ home_context.stinger_logo.url }} class="img-fluid" alt="Stinger Tattoo Logo">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6">
            <p>{{ home_context.stinger_about }}</p>
        </div>
    </div>
    <br>
    <h2 align="center">Актуално предложение</h2>
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-md-6">
            <p>{{ home_context.stinger_special_offer }}</p>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6">
            <img src={{ home_context.stinger_special_offer_image.url }} class="img-fluid" alt="Stinger Tattoo Logo">
        </div>
    </div>
    <br>
    
        {% comment %} <div class="row">
            <div class="col-7">
                    <form class="form-horizontal" action="" method="post">
                    <fieldset>
                        <legend class="text-center" style="color:white">Contact us</legend>
                
                        <!-- Name input-->
                        <div class="form-group">
                        <label class="col-md-3 control-label" style="color:white" for="name">Name</label>
                        <div class="col-md-9">
                            <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                        </div>
                        </div>
                
                        <!-- Email input-->
                        <div class="form-group">
                        <label class="col-md-3 control-label" style="color:white" for="email">Your E-mail</label>
                        <div class="col-md-9">
                            <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                        </div>
                        </div>
                
                        <!-- Message body -->
                        <div class="form-group">
                        <label class="col-md-3 control-label" style="color:white" for="message">Your message</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                        </div>
                        </div>
                
                        <!-- Form actions -->
                        <div class="form-group">
                        <div class="col-md-2 text-right">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                        </div>
                    </fieldset>
                    </form>
            </div>
            <div class="col-5 mt-5">
                {% social_widget_render 'facebook/likebox.html' href='https://www.facebook.com/StingerTattooBG' %}
            </div>
        </div> {% endcomment %}



</div>



{% endblock content %}
    
