{% extends 'stinger/base.html' %}
{% load static %}
{% block headers %}
<title>Портфолио</title>
{% endblock headers %}
{% block content %}
    <div class="container">
        <h1 style="color: white" aligne="center">Моето Портфолио</h1>
        <div class="row">
            <div class="col">
                <div class="card-columns">
                    {% for gallery in object_list %}
                        <a href=" {% url 'detail-slug' gallery.pk %}"><div class="card">
                            <img class="card-img-top" src="{{ gallery.new_image.url }}" alt="{{ gallery.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ gallery.name }}</h5>
                            </div>
                        </div></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
