{% extends 'stinger/base.html' %}
{% load static %}
{% block headers %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<title>{{ choosen_image.name }}</title>
{% endblock headers %}

{% block content %}
         <div class="container">
            <div class="carouselContainer">
            <div class="carouselMainImage">
                <img src="{{ choosen_image.new_image.url }}" class="curentImage">
            </div>
            <span class="choosenid">{{ choosen_image.id }}</span>
            {% for image in all_images %}
                <div class="carouselImgs">
                    <img src="{{ image.new_image.url }}" class="allimages">                    
                </div>
                <span class="allid">{{ image.id }}</span>
            {% endfor %}
            
            <span class="prev" id="prev">
                Предишна </span>
                
            <span class="next" id="next">
                    Следваща </span>
            </div>
        </div>    
    <script src="{% static 'js/slideshow.js' %}"></script>
{% endblock content %}
