{% extends 'stinger/base.html' %}
{% block headers %}
<title>Често задавани въпроси</title>
{% endblock headers %}
{% block content %}
<br>
    <div class="container" style="color: white">
        <div class="row justify-content-md-center">
            <div class="col-lg-8 col-sm-12 col-md-8">
              <h1>Често задавани въпроси за татуировките.</h1>
                <br>
                {% for faq in object_list %}
                  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <h2 class="text-dark bg-light">{{ faq.question }}</h2>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                      <div itemprop="text">
                        <p>{{ faq.asnwer }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}




{% comment %} <html itemscope itemtype="https://schema.org/FAQPage">
<head>
  <title>Example Site - Frequently Asked Questions(FAQ)</title>
    </head>
<body>
  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h3 itemprop="name">What is the return policy?</h3>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
        Most unopened items in new condition and returned within <strong>90 days</strong> will receive a refund or exchange. Some items have a modified return policy noted on the receipt or packing slip. Items that are opened or damaged or do not have a receipt may be denied a refund or exchange. Items purchased online or in-store may be returned to any store.
        <br /><p>Online purchases may be returned via a major parcel carrier. <a href="http://example.com/returns"> Click here </a> to initiate a return.</p>
      </div>
    </div>
  </div> {% endcomment %}